button,input[type="button"]{
    border:none;
    outline:none;
    color: rgba(255,255,255,1);
    /*淡蓝色rgb值：193 210 240*/
    text-decoration: none;
    background-color: rgba(193,210,240,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 600;
    font-size: 1em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 0px rgba(160,210,240,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 6px 0px rgba(160,210,240,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 6px 0px rgba(160,210,240,1), 0px 9px 25px rgba(0,0,0,.7);
    /*margin: 100px auto;*/
    width: 160px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}
button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(160,210,240,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(160,210,240,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(160,210,240,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
input[type="button"]:active {
    -webkit-box-shadow: 0px 3px 0px rgba(160,210,240,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(160,210,240,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(160,210,240,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}